/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */
   @font-face {
    font-family: 'Black_Rathen';
    src: url(fonts/Black-Rathen-Demo-BF66f25bb02f517.otf);
  }

*{
  box-sizing: border-box;
  list-style-position: inside;
}

a{
  text-decoration: none;
  color: var(--link-color);
  text-shadow: var(--boardwalk);
  transition: .7s;
}

body {

  --boardwalk: #6f3400ff;
  --seafoam-white: #e0f9ff;
  --sky-blue: #57c4e5;
  --darkblue: #001e41;
  --coral: #FF8559;
  
  background-color: var(--lapis);
  background-image: url(assets/underwater-bg.gif);
  background-size: 100% 100%;
  min-height: 100vh;
  color: var(--seafoam-white);
  font-family: 'Papyrus';
  font-size: 15px;
  cursor: url(assets/tinysquid.cur), auto;
  margin-left:  15%;
  margin-top: 1%;
  margin-right: 15%;
}

#wrapper {
  position: relative;
  display: grid;
  margin: auto;
  grid-template-areas:
    "header header header header"
    "marquee marquee marquee marquee"
    "nav intro intro updates"
    "nav employee bulletinboard bulletinboard"
    "status status bulletinboard bulletinboard"
    "footer footer footer footer";
  grid-template-columns: 1fr repeat(2, 2fr) 1fr;
  grid-template-rows: 80px 30px 390px 190px 260px 30px;
  gap: 10px;
  padding: 20px 75px 20px 20px;
}

header{
  grid-area: header;
  grid-row: auto;
  grid-column-start: 1;
  grid-column-end: span 5;
}
.marquee{
  grid-area: marquee;
}
nav{
  grid-area:nav;
  z-index: 99;
  background-image: linear-gradient(rgb(0, 30, 65, 0), rgb(0, 30, 65) );
  /*background-image: url(assets/placeholderwood.jpg);*/
  width: 1fr;

}
.navlink{
  display: contents;
}
.navtext{
  background: radial-gradient(circle, rgba(87,196,229,0) 0%, rgba(111,52,0,0.5) 100%);
  padding: 1px;
  border: #085fa1ff 1px dashed;
  border-radius: 5%;
  border-style: inset;
  text-align: center;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
}
.box{
  background-image: linear-gradient(rgb(230, 100, 101, 0), var(--sky-blue) );
  padding:10px;
  border-color: var(--seafoam-white);
  border-style: groove;
}
#intro{
  grid-area: intro;
  background-image: linear-gradient(rgb(230, 100, 101, 0), var(--darkblue));

}
#updates{
  grid-area: updates;
}
#employeemonth{
  grid-area: employee;
}
#aquarium{
  z-index: 99;
  background-image: url(assets/placeholderwood.jpg);
  position: absolute;
  padding: 10px;
  width: 1fr;
}

#bulletinboard{
  grid-area: bulletinboard;
}

#status{
  grid-area: status;
}

footer{grid-area: footer;}
h1{
  font-family: 'Black_Rathen';
  font-size: xx-large;
  text-shadow: #001e41 0px 10px 5px ;
}

h1::first-letter{
  color: var(--coral);
}
h2{
  font-family: 'papyrus';
  text-shadow: #e0f9ff 0px 0px 10px;
}
h3{
  font-family: 'papyrus';
}

.D{
  border-image: linear-gradient(#f6b73c, #4d9f0c) 30;
}