:root{
  background-color: #0c1426;
  --crt-red: rgb(218, 49, 49);
  --crt-green: rgb(112, 159, 115);
  --crt-blue: rgb(40, 129, 206);
  /* theme colors */
  --reef: #21476d;
  --algae: #007d7d;
  --seafoam: #b2eee6;
  --coral: #ff967d;
  --coral-strong: #f97171;
}

   @font-face {
    font-family: 'BubblePixel';
    src: url("../fonts/04B_30.ttf") format('truetype');
  }

.flexbox{
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width: fit-content;
    margin-inline: auto;
}

#image{
  background-image:url("../assets/water_blender.gif");
  background-size: cover;
  background-repeat: no-repeat;
  width: 99vw;
  height: 80vh;
  margin-inline: auto;
}

#intro{
    flex-grow: 4;
    height: 50px;
}

#link{
    flex-grow: 1;
    height: 50px;
    margin-top: 50px;
    font-size: 20px;
}
/* From Uiverse.io by nazeer004 */ 
  .wave-effect a {
    position: absolute;
    color: #fff;
    transform: translate(-50%, -50%);
    font-size: 38px;
    letter-spacing: 5px;
  }
  
  .wave-effect a:nth-child(1) {
    color: rgba(178, 238, 230, 0.1);
    -webkit-text-stroke: 0.3px #b2eee6;;
  }
  
  .wave-effect a:nth-child(2) {
    color:  var(--algae);
    -webkit-text-stroke: 1px  var(--reef);
    animation: uiverse723 3s ease-in-out infinite;
  }
  
  @keyframes uiverse723 {
    0%, 100% {
      clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 
       54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
  
    50% {
      clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 
       51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
  }

  a{
      font-family: 'BubblePixel';
  }
 
/* Global */
html {
  font-size: 1.5rem;
  font-family: "Courier New", monospace;
  min-height: 100%;
}
main {
  height: 100vh;
  height: 100dvh;
}

.crt {

  position: relative;
  &:before,
  &:after {
    content: "";
    transform: translateZ(0);
    pointer-events: none;
    opacity: 0.5;
    mix-blend-mode: overlay;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
  }

  &:before {
    background: repeating-linear-gradient(
      var(--crt-red) 0px,
      var(--crt-green) 2px,
      var(--crt-blue) 4px
    );
  }
  &:after {
    background: repeating-linear-gradient(
      90deg,
      var(--crt-red) 1px,
      var(--crt-green) 2px,
      var(--crt-blue) 3px
    );
  }
}

