   @font-face {
    font-family: 'BubblePixel';
    src: url("../fonts/04B_30.ttf") format("truetype");
  }
  @font-face {
    font-family: 'Crang';
    src: url("../fonts/Crang.ttf") format("truetype");
  }

  @font-face {
    font-family: 'Paskowy';
    src: url("../fonts/Paskowy.ttf") format("truetype");
  }
  @font-face {
    font-family: 'Daydream';
    src: url("../fonts/Daydream.ttf") format("truetype");
  }
  @font-face {
    font-family: 'Minecraft';
    src: url("../fonts/Minecraft.ttf") format("truetype");
  }
  @font-face {
    font-family: 'Papyrus';
    src: url("../fonts/papyrus.ttf") format("truetype");
  }

  /* Set bottom accent color of box
  background-image: linear-gradient(rgb(0, 0, 0, 0), 80%, var(--coral));*/

/* Link effects */
a{
  text-decoration: none;
  color: var(--seafoam);
  /*text-shadow: var(--algae) 1px 1px;*/
  transition: .2s;
}
a:hover{
  font-size: 14px;
}

#insta:hover{
  color: var(--coral);
  font-size: 14px;
}

/* Headers */
h2{
  font-family: 'Daydream';
  color:var(--coral);
  mix-blend-mode: difference ;
  font-size: large;
  opacity: 100%;
  text-shadow: var(--reef) 0px 5px 3px;
}
h3{
  font-family: 'Crang';
  font-weight: 50;
  font-size: medium;
  text-shadow: var(--reef) 0px 5px 3px;
}

h4{
  font-family: 'Minecraft';
}
body {
  /* Theme 1 */
  --reef: #21476d;
  --algae: #007d7d;
  --seafoam: #b2eee6;
  --coral: #ff967d;
  --coral-strong: #f97171;
  /*--purple: already in color scheme

  /* Theme 2 
  --cloud: #eefffc;
  --seafoam: #8ad6cc;
  */

  background-color: var(--sky);
  background-image: url(../assets/water-bg.gif);
  background-size: 100% 100%;
  min-height: 100vh;
  color: var(--seafoam);
  font-family: 'papyrus';
  font-size: small;
  cursor: url(../assets/tinysquid.png), auto;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 2%;
  margin-bottom: 0%;
}

#wrapper {
  display: grid;
  grid-template-areas:
    "header header header header"
    "marquee marquee marquee marquee"
    "nav intro intro updates"
    "nav status bulletinboard chatbox"
    "employee employee bulletinboard chatbox"
    "footer footer footer footer ";
  grid-template-columns: 15% 25% 25% 25%;
  grid-template-rows: 50px 40px 200px 200px 250px 60px;
  gap: 10px;
  padding: 20px 75px 20px 75px;
}

.box{
  display: flex;
  overflow: scroll;
  padding:10px;
  border-color: var(--seafoam);
  border-style: groove dotted;
  flex-direction: column;
}

header{
  font-family: 'BubblePixel';
  font-size: 36px;
  text-shadow: navy 0px 10px 1px ;
  grid-area: header;
  grid-column-start: 1;
  grid-column-end: span 5;
  mix-blend-mode: overlay;
}

.marquee{
  grid-area: marquee;
  overflow-wrap: anywhere;
  font-family: "Courier New";
}
/* Nav Column */
nav{
  grid-area:nav;
  z-index: 99;
  background-image: linear-gradient(rgb(0, 0, 0, 0.2) 10% , purple);
  overflow: scroll;
}

.navlink{
  display: contents;
}

.navtext{
  font-family: 'Minecraft';
  background: radial-gradient(circle, var(--reef) 80%,var(--seafoam) 100%);
  padding: 1px;
  border: #085fa1ff 1px dashed;
  border-radius: 5%;
  border-style: inset;
  text-align: center;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
}

#about::before{
  background-image: url('../assets/pink_coral.png');
  content: '';
  
  background-size: contain;
  display: inline-block;
  vertical-align: middle;

  margin-right: 5px;
  width: 30px;  /* Set the desired width */
  height: 30px; /* Set the desired height */
}

#stuff::before{
  background-image: url('../assets/green_coral.png');
  content: '';
  
  background-size: contain;
  display: inline-block;
  vertical-align: middle;

  margin-right: 5px;
  width: 30px;  /* Set the desired width */
  height: 30px; /* Set the desired height */
}

#other::before{
  background-image: url('../assets/blue_coral.png');
  content: '';

  background-size: contain;
  display: inline-block;
  vertical-align: middle;


  margin-right: 5px;
  width: 30px;  /* Set the desired width */
  height: 30px; /* Set the desired height */
}
/*------*/

#intro{
  grid-area: intro;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 70%, var(--coral));
}

/* RSS Feed */
#updates{
  grid-area: updates;
  overflow: scroll;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 80%, var(--algae));
}
.feed-container{
  overflow:scroll;
}
.feed-container .content .item .title{
    font-family: 'Minecraft';
    color: var(--reef);
}
/*------------*/

/*Employee of the Month*/
#employeeMonth{
  grid-area: employee;
  background-image: url('../assets/placeholderwood.jpg');
}
.flex-grid{
  display: flex;
  flex-direction: column;
  width: 80%;
  align-self: center;
}

#plaque{
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 80%, var(gold));
}
#employee_img{
  content: url('../assets/joel-spin.gif');
  scale: 40%;
}
#employee_name{
  background: linear-gradient(to bottom, #cfc09f 27%, #ffecb3 40%, #3a2c0f 78%); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  font-family: 'Playfair Display', serif;
    position: relative;
  text-transform: uppercase;
  font-size: xx-large;
  margin: 0;
  font-weight: 400;
}
#employee_name::before{
  background-image: url('../assets/gold_star.png');
  content: '';
  
  background-size: contain;
  display: inline-block;
  vertical-align: middle;

  width: 50px;  /* Set the desired width */
  height: 50px; /* Set the desired height */
}
#employee_name::after{
  background-image: url('../assets/gold_star.png');
  content: '';
  
  background-size: contain;
  display: inline-block;
  vertical-align: middle;

  width: 50px;  /* Set the desired width */
  height: 50px; /* Set the desired height */
}
/* ------ */

#bulletinboard{
  grid-area: bulletinboard;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 80%, purple);
}

#chatbox{
  grid-area: chatbox;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 80%, var(--coral-strong));
}

#status{
  grid-area: status;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 80%, var(--seafoam));
}

footer{
  grid-area: footer;
  position: relative;
}

#Instagram::after{
  background-image: url('../assets/instagram.png');
  content: '';
  background-size: cover;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 5px;
}

.floatingGraphic{
  position: fixed;
  height: auto;
  width: 250px;
  /*margin: 10px: adds space between screen edge and image*/
}
#topGraphicOne{

}
#topGraphicTwo{

}
#btmGraphicOne{
  bottom:-50px;
  left: 2px;
  z-index: 98;
}
#btmGraphicTwo{
  bottom: -60px;
  left: 100px;
  z-index: 100;
}
#btmGraphicThree{
  bottom: -40px;
  right: 0px;
  z-index: 99;
}
#btmGraphicFour{
  bottom: -40px;
  right:100px;
  z-index: 101;
}
#btmGraphicFive{
  bottom:-40px;
  right: -75px;
  z-index: 98;
}
