/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */
   @font-face {
    font-family: 'BubblePixel';
    src: url("../fonts/04B_30.ttf") format("truetype");
  }
  @font-face {
    font-family: 'Crang';
    src: url("../fonts/Crang.ttf") format("truetype");
  }

  @font-face {
    font-family: 'Paskowy';
    src: url("../fonts/Paskowy.ttf") format("truetype");
  }
  @font-face {
    font-family: 'Daydream';
    src: url("../fonts/Daydream.ttf") format("truetype");
  }
  @font-face {
    font-family: 'Minecraft';
    src: url("../fonts/Minecraft.ttf") format("truetype");
  }
  @font-face {
    font-family: 'Papyrus';
    src: url("../fonts/papyrus.ttf") format("truetype");
  }
*{
  box-sizing: border-box;
  list-style-position: inside;
}

a{
  text-decoration: none;
  color: var(--link-color);
  text-shadow: var(--boardwalk);
  transition: .7s;
}

h2{
  font-family: 'Daydream';
  color:var(--coral);
  mix-blend-mode: difference ;
  font-size: large;
  opacity: 75%;
  text-shadow: var(--darkblue) 0px 5px 3px;
}
h3{
  font-family: 'Crang';
  font-weight: 50;
  font-size: medium;
}

h4{
  font-family: 'Minecraft';
  color: var(--sky-blue);
}
body {
  --boardwalk: #6f3400ff;
  --seafoam-white: #e0f9ff;
  --sky-blue: #57c4e5;
  --darkblue: #001e41;
  --coral: #FF8559;
  
  background-color: var(--lapis);
  background-image: url(../assets/water-bg.gif);
  background-size: 100% 100%;
  min-height: 100vh;
  color: var(--seafoam-white);
  font-family: 'papyrus';
  font-size: small;
  cursor: url(../assets/tinysquid.png), auto;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 2%;
}

#wrapper {
  display: grid;
  grid-template-areas:
    "header header header header"
    "marquee marquee marquee marquee"
    "nav intro intro updates"
    "nav status bulletinboard bulletinboard"
    "employee employee bulletinboard bulletinboard"
    "aquarium aquarium aquarium aquarium";
  grid-template-columns: 15% 25% 25% 25%;
  grid-template-rows: 50px 40px 200px 200px 200px 60px;
  gap: 10px;
  padding: 20px 75px 20px 75px;
}

.navlink{
  display: contents;
}

.navtext{
  font-family: 'Minecraft';
  background: radial-gradient(circle, rgba(87,196,229,0) 0%, rgba(111,52,0,0.5) 100%);
  padding: 1px;
  border: #085fa1ff 1px dashed;
  border-radius: 5%;
  border-style: inset;
  text-align: center;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
}

.box{
  display: flex;
  background-image: linear-gradient(rgb(230, 100, 101, 0), var(--sky-blue) );
  padding:10px;
  border-color: var(--seafoam-white);
  border-style: groove;
  flex-direction:column;
}

.box img{
  scale: 50%
}

header{
  font-family: 'BubblePixel';
  font-size: 36px;
  text-shadow: #001e41 0px 10px 1px ;
  grid-area: header;
  grid-column-start: 1;
  grid-column-end: span 5;
  mix-blend-mode: overlay;
}

.marquee{
  grid-area: marquee;
  font-family: "Courier New";
}

nav{
  grid-area:nav;
  z-index: 99;
  background-image: linear-gradient(rgb(0, 30, 65, 0), rgb(0, 30, 65) );
  width: 1fr;
  overflow: scroll;

}

#intro{
  grid-area: intro;
  background-image: linear-gradient(rgb(230, 100, 101, 0), var(--darkblue));

}

#intro::after{
  content: '';
  background-image: url('../assets/gold_star.png');
  background-size: cover;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 10px; /* Space between image and text */
}

#updates::before{

}

#updates{
  grid-area: updates;
  overflow: scroll;

}
#feed-title{}

#feed-item-title{

}

#employeeMonth{
  grid-area: employee;
}

#aquarium{
  grid-area:aquarium;
  background-color: var(--sky-blue);
  background-blend-mode:darken;
  padding: 10px;
  font-size: medium;
  width: 1fr;
}

#bulletinboard{
  grid-area: bulletinboard;
}

#status{
  grid-area: status;
}

footer{
  position: relative;
}